:root {
 --basic-color-text:$ffffff;
 --basic-color-bg: $ffffff;
}

body{
    font-family: sans-serif;  
    }
.header_link::selection {
     color: #981414;
     background-color: blue;
    }


.text > span {
    text-decoration: linethrough;
}

.link {
    text-decoration: none;
}



